<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1050</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2024 The OctalFont Titan Project Authors (https://github.com/OctalMesh/OctalFont)</string>
    <key>descender</key>
    <integer>-300</integer>
    <key>familyName</key>
    <string>OctalFont Titan</string>
    <key>openTypeHheaAscender</key>
    <integer>1050</integer>
    <key>openTypeHheaDescender</key>
    <integer>-300</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string></string>
    <key>openTypeNameDesignerURL</key>
    <string></string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://scripts.sil.org/OFL</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://scripts.sil.org/OFL</string>
    <key>openTypeNameManufacturer</key>
    <string>OctalMesh</string>
    <key>openTypeNameManufacturerURL</key>
    <string></string>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1050</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-300</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>OCTM</string>
    <key>openTypeOS2WinAscent</key>
    <integer>700</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>0</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleName</key>
    <string>Light</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
